.radial__text
    position: absolute
    top: 14.6%
    left: 15.7%
    font-size: 1.5em
    width: 140px
    height: 140px
    text-align: center
    background-color: white
    border-radius: 50%
    padding: 40px
    &-pourcent
        font-size: 1.5em
        font-weight: 700
    &-info
        font-size: 1em
.radial__title
    position: absolute
    top: 5%
    left: 8%
    font-weight: 600
    font-size: 1.2em
.radial__box
    width: 150px


    